- content_for :javascript do
	= javascript_include_tag 'chosen.min', 'autosize.min', 'users-edit'

.row
	.span3
		#edit_page_left
			.user.edit_user_image
				.user_image
					= image_tag current_user.large_image
					.user_name= current_user.first_name
			%div{style: "clear: both"}
	.span9
		#edit_page_middle
			= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
				
				= devise_error_messages!
				
				#form-fields
					- %W[ gender standing degree ].each do |type|
						.control-group{:style => type == 'gender' && current_user.gender.present? || type == 'gender' && params[:user][:gender_ids].present? ? 'display: none' : nil}
							%label.control-label{:for => "user_#{type}"}
								= type.titlecase
							.controls
								= f.collection_select("#{type}_ids".to_sym, Community.filtered_by(type).ne(name: "High School"), :id, :name, {:include_blank => true, :selected => params[:user] ? params[:user]["#{type}_ids".to_sym] : (@community ? (current_user.send("#{type}_ids").blank? ? [Community.find_by(name: "Undergraduate").id, Community.find_by(name: "Persuing Bachelor's").id] : current_user.send("#{type}_ids")) : current_user.send("#{type}_ids"))}, {'data-placeholder' => "Select #{type.titlecase}", :class => 'chzn-select', :id => "user_#{type}"})
				
					- %W[ field school ].each do |type|
						.control-group.multiple
							%label.control-label{:for => "user_#{type}"}
								= "#{type.titlecase}(s)"
							.controls
								= f.collection_select("#{type}_ids".to_sym, Community.filtered_by(type), :id, :name, {:include_blank => true, :selected => params[:user] ? params[:user]["#{type}_ids".to_sym] : (@community ? (current_user.send("#{type}_ids").blank? ? @community.id : current_user.send("#{type}_ids")) : current_user.send("#{type}_ids"))}, {'data-placeholder' => "Select #{type.titlecase}(s) #{'of Experience' if type == 'field'}", :class => 'chzn-select', :id => "user_#{type}", :multiple => true})
			
					.control-group
						%label.control-label{:for => "user_city"}
							City
						.controls
							= f.collection_select(:city_ids, Community.filtered_by(:city), :id, :dropdown_name, {:include_blank => true, :selected => params[:user] ? params[:user][:city_ids] : (@community ? (current_user.city_ids.blank? ? (request.location.city.present? ? Community.filtered_by(:city).find_by_name(request.location.city).id : @community.id) : current_user.city_ids) : current_user.city_ids)}, {'data-placeholder' => "Select Current City", :class => 'chzn-select', :id => "user_city"})

					.form-divider 
						%span optional

					.control-group
						%label.control-label{:for => "user_bio"}
							I AM...
						.controls
							= f.text_area :bio, :placeholder => "Introduce Yourself  ( 280 chars )", :id => "user_bio", :maxlength => 280, :value => params[:user] ? params[:user][:bio] : nil							
	
					- %W[ relationship orientation religion ].each do |type|
						.control-group
							%label.control-label{:for => "user_#{type}"}
								= type == 'relationship' ? "Status" : type.titlecase
							.controls
								= f.collection_select("#{type}_ids".to_sym, Community.filtered_by(type), :id, :name, {:include_blank => true, :selected => params[:user] ? params[:user]["#{type}_ids".to_sym] : (@community ? (current_user.send("#{type}_ids").blank? ? @community.id : current_user.send("#{type}_ids")) : current_user.send("#{type}_ids"))}, {'data-placeholder' => "Select #{type == 'relationship' ? "Relationship Status" : type.titlecase}", :class => 'chzn-select-optional', :id => "user_#{type}"})

					- %W[ ethnicity ].each do |type|
						.control-group.multiple
							%label.control-label{:for => "user_#{type}"}
								= type.titlecase
							.controls
								= f.collection_select("#{type}_ids".to_sym, Community.filtered_by(type), :id, :name, {:include_blank => true, :selected => params[:user] ? params[:user]["#{type}_ids".to_sym] : (@community ? (current_user.send("#{type}_ids").blank? ? @community.id : current_user.send("#{type}_ids")) : current_user.send("#{type}_ids"))}, {'data-placeholder' => "Select #{type.titlecase}(s) #{'of Experience' if type == 'field'}", :class => 'chzn-select-optional', :id => "user_#{type}", :multiple => true})
							
					.control-group
						%label.control-label{:for => "user_twitter_name"}
							Twitter
						.controls
							= f.text_area :twitter_name, :placeholder => "Username", :id => "user_twitter_name", :value => params[:user] ? params[:user][:twitter_name]	: nil 
					.control-group
						%label.control-label{:for => "user_blog_url"}
							Blog
						.controls
							= f.text_area :blog_url, :placeholder => "Blog URL ( http://... )", :id => "user_blog_url", :value => params[:user] ? params[:user][:blog_url] : nil			

					.control-group.boolean
						%label.control-label{:for => "user_show_facebook_url"}
							&nbsp;
						.controls
							= f.check_box :show_facebook_url, :checked => current_user.show_facebook_url.nil? ? true : current_user.show_facebook_url
							%label{:for => "show_facebook_url"}
								Show link to my Facebook page
							
				= f.submit "Update Profile", :class => "btn btn-primary", :id => "submit-button"
			%div{:style => "clear:both"}



	=# link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete