.post
	.post_image= link_to image_tag(link.user.large_image), users_path(id: link.user)
	.post_contents
		.post_title= link_to link.title, link.url, target: "_blank"
		.link_host= link_to link.url_host, link.url, target: "_blank"
		.post_body.hidden-phone= truncate_html(link.body_html, length: 140)
		.post_actions
			= link_to comment_path(link), remote: true do
				= pluralize(link.comments.length, 'comment')
				%i.icon-caret-down
			- if current_user == link.user || current_user == User.find_by(email: "abreu.jamil@gmail.com")
				= link_to " | edit", edit_post_path(link)				
		.comments{id:"#{link.id}_comments"}
	.div{style:"clear:both"}