.post
	.post_image= link_to image_tag(post.user.large_image), users_path(id: post.user)
	.post_contents
		.post_title= link_to post.user.name, users_path(id: post.user)
		.post_body= truncate_html(post.body_html, length: 280)
		.post_actions
			= link_to comment_path(post), remote: true do
				= pluralize(post.comments.length, 'comment')
				%i.icon-caret-down
			- if current_user == post.user || current_user == User.find_by(email: "abreu.jamil@gmail.com")
				= link_to " | edit", edit_post_path(post)
		.comments{id:"#{post.id}_comments"}
	.div{style:"clear:both"}