- content_for :javascript do
	= javascript_include_tag 'chosen.min', 'select2.min', 'autosize.min', 'posts-edit'

.row
	.span3.hidden-phone
		&nbsp;
	.span9
		#new_post_holder
			- if @post.errors.full_messages.present?
				#error_explanation
					%ul
						- @post.errors.full_messages.each do |msg|
							%li= msg
			= form_for @post, :html => { :class => "form-horizontal", :style => "background: #FFF" } do |f|
				= f.hidden_field :_type
				= f.hidden_field :image
				= f.hidden_field :normal_image
				= f.hidden_field :large_image
				= f.hidden_field :start_time
				= f.hidden_field :end_time
				= f.hidden_field :url
				.post-activity-indicator
				
				#preview_post{:style => "display: block; padding-top: 2px; "}
					#preview_post_image= image_tag current_user.large_image
					#preview_post_contents
						#preview_post_title= f.text_area :title
						#preview_post_url= f.text_area :url_host
						#preview_post_body= f.text_area :body	
					.div{style:"clear:both"}
				
				= render partial: "form", locals: { f: f }
				
				= f.submit "Update Post", :class => "btn btn-primary", :id => "submit-button"