- content_for :javascript do
	= javascript_include_tag 'posts', 'autosize.min'
	
.row
	.span2
		#filters
			= render "users/filters"
			&nbsp;
	.span10
		#posts
			#posts-actions
				= link_to new_post_path, :id => "new_post_button" do
					%i.icon-plus
					&nbsp;New Event				
			#posts-inner
				- if @posts.present?
					- if params[:relevant]
						- current_user.community_ids.length.downto(1) do |i|
							= render @posts[i] if @posts[i].present?
					- else
						= render @posts
				- else
					= render partial: "posts/empty"