.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		.container
			= link_to root_url(subdomain: false), :class => "brand" do
				3

			%ul.nav
				%li.community_name.hidden-phone= link_to community_name, root_path
				%li.community_name.visible-phone= link_to mobile_name, root_path
			
			%ul.nav.pull-right
				- if @community
					- unless users_page
						%li.divider-vertical
					%li{ :class => users_page ? 'active' : nil }
						= link_to root_url do
							%i.icon-user		
					- unless users_page || posts_page
						%li.divider-vertical
					%li{ :class => posts_page ? 'active' : nil }
						= link_to posts_path do
							%i.icon-reorder
					- unless posts_page || conversations_page
						%li.divider-vertical
				- if user_signed_in?
					%li{ :class => conversations_page ? 'active' : nil }
						= link_to conversations_path do
							%i.icon-envelope-alt{ :class => current_user.has_unread? ? 'has_unread' : nil }
					- unless conversations_page
						%li.divider-vertical
					%li.dropdown{ :class => edit_page || subscriptions_page ? 'active' : nil }
						= link_to "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" do
							%i.icon-caret-down
						%ul.dropdown-menu{"role" => "menu", "aria-labelledby" => "dropdownMenu"}
							%li
								= link_to edit_user_registration_path, "tabindex" => "-1"  do
									%i.icon-tasks
									Profile
							%li
								= link_to user_signed_in? && current_user.subscribed? ? subscriptions_path : new_subscription_path, "tabindex" => "-1"  do
									%i.icon-heart
									Support							
							%li.divider
							%li
								= link_to destroy_user_session_path, method: :delete do
									%i.icon-signin
									Logout